@use '../variable/_variable' as variable 
@use '../buttons/buttons' as buttons

$inputBg: #e1dede
$buttonHover: #d1d1d1

.addTasksContainer
    padding: 2.5rem 4rem 0rem 1.8rem

.addTasksHead h1
    @include variable.font('Roboto', sans-serif, 3rem, 700, normal, #000)

.addTasks
    display: flex
    flex-direction: column
    padding: 1.7rem 0rem 0rem 0rem

#newTaskInput
    padding: .6rem 1rem
    font-size: 1.1rem
    outline: none
    width: 35rem
    border: none
    background: $inputBg
    border-radius: 5px
    margin: 0rem 0rem .7rem 0rem

#newTaskButton
    @include buttons.button(1.5em, 200, 0.0625rem solid black, rgba(0, 0, 0, 0), #ffe54c)


