@use '../variable/_variable' as variable
@use '../elements/buttons' as buttons
@use '../elements/inputs' as inputs

$inputBg: #e1dede
$buttonHover: #d1d1d1
.categories
    border-right: 1px solid #000

#category
    height: 100vh
    padding: 7rem 4rem 0rem 0rem

.categoryTitle
    display: flex
    @include variable.font('Roboto', sans-serif, 2rem, 700, normal, #000)

.categoryListName
    margin-right: 0.3rem

.categoryCount
    padding-left: 0.5rem

.categoryItem
    @include variable.font('Roboto', sans-serif, 1.7rem, 400, normal, #000)


#categoryList
    margin: 1rem 0 0 0
    max-height: 20rem
    padding: 0 1rem 0 0
    ul
        list-style-type: none
        padding: 1rem 0rem 0rem 1rem
        li
            padding: .5rem 0

.scrollCategories
    overflow-y: auto
    scrollbar-width: thin 
    scrollbar-color: black #c7c7c7

// button and input styles
.addCategory
    display: flex
    flex-direction: column
    padding: 0rem 0rem 0rem 1rem
    border: none
    margin: 2rem 0 0 0 
    *
        display: block

#addNewCategoryButton
    @include buttons.button(1.5em, 200, 0.0625rem solid black, rgba(0, 0, 0, 0), #ffe54c, 0, 1rem .8rem)
    margin: .3rem 0 0 0


//input css
#newCategory
    @include inputs.input(0.6rem, 1.1rem, 100%, $inputBg, 0rem 0rem .7rem 0rem, #ffe54c)
    width: 15rem